

<div class="gap"></div>


<!-- //////////////////////////////////
//////////////PAGE CONTENT/////////////
////////////////////////////////////-->



<div class="container">
  <div class="row">
       <div class="col-md-4">
                 <aside class="sidebar-left">
                        <ul class="nav nav-pills nav-stacked nav-arrow">
                               <li><a ui-sref="settings" >Votre compte : </a>
                              </li>
                              <li><a ui-sref="showAnnounce({id:nav.getCurrentUser()._id})">Vos annonces :</a>
                              </li>
                              <li><a ui-sref="Wishlists({id:nav.getCurrentUser()._id})">Votre Wishlist : </a>
                              </li>
                            </ul>
                 </aside>
         </div>

  <br>
    <div class="col-md-8">
      <div class="row">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2 class="md-flex"> <p style="color: #fff6de" >Changer mot de passe </p></h2>
          </div>
        </md-toolbar>
        <div class="gap"></div>
        <div class="col-md-4">

          <form class="form" name="form" ng-submit="vm.changePassword(form)" novalidate>

            <md-input-container class="md-block">
              <label>Mot de passe actuel</label>

              <input type="password" name="password" class="form-control" ng-model="vm.user.oldPassword"
                     mongoose-error/>
              <p class="help-block" ng-show="form.password.$error.mongoose">
                {{ vm.errors.other }}
              </p>
            </md-input-container >
            <br>
            <md-input-container class="md-block">
              <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                            'has-error': form.password.$invalid && vm.submitted }">
                <label>Nouveau mot de passe</label>
                <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword"
                       ng-minlength="3"
                       required/>
                <p class="help-block"
                   ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
                  Mot de passe doit être au moins 3 caractères.
                </p>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
            <label>Confirmer le nouveau mot de passe</label>
            <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,
                                            'has-error': form.confirmPassword.$invalid && vm.submitted }">
              <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                     match="vm.user.newPassword"
                     ng-minlength="3"
                     required=""/>
              <p class="help-block"
                 ng-show="form.confirmPassword.$error.match && vm.submitted">
                Les mots de passe doivent correspondre.
              </p>
            </div>
            </md-input-container>
            <md-button class="md-raised md-primary" type="submit">Sauvegarder</md-button>
          </form>

      </div>
        <div class="gap-big"></div>
    </div>
  </div>

</div>


</div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<!-- //////////////////////////////////
//////////////END PAGE CONTENT/////////
////////////////////////////////////-->
