
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
  <form class="form-horizontal" role="form" ng-submit="addWishlist()">


<div class="form-group">
  <label for="socialReason" class="col-sm-2 control-label">Titre</label>
  <div class="col-sm-10">
    <input type="text" ng-model="wishlist.name" class="form-control" id="socialReason" placeholder="je souhaite !"/>
  </div>
</div>
<div class="form-group">
  <label for="creationDate" class="col-sm-2 control-label">Description</label>
  <div class="col-sm-10">
    <input type="text" ng-model="wishlist.info" class="form-control" id="creationDate"/>
  </div>
</div>
    <div >
      <input type="text" id="wishlist.user"  ng-init="wishlist.user= nav.getCurrentUser()._id " ng-model="wishlist.user" disabled="disabled" class="form-control"  style="display: none;" />
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Ajouter"/>
      </div>
    </div>
  </form>
    </div>
  </div>
</div>
