<div class="gap"></div>
<div class="container">
  <div class="row">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 class="md-flex"> <p style="color: #fff6de" >Ajouter un produit</p></h2>
      </div>
    </md-toolbar>
    <div class="gap"></div>
    <div class="col-md-6 col-md-offset-3">
      <div ng-cloak>
          <form name="projectForm"  role="form" ng-submit="create(picFile, wishlist)">
            <md-input-container class="md-block">
              <label>Titre</label>
              <input required name="Titre" ng-model="wishlist.title" placeholder="je souhaite !">
              <div ng-messages="projectForm.Titre.$error">
                <div ng-message="required">Saisissez un titre</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Description</label>
              <input md-maxlength="300" required md-no-asterisk name="description" ng-model="wishlist.info">
              <div ng-messages="projectForm.description.$error">
                <div ng-message="required">Saisissez un texte</div>
                <div ng-message="md-maxlength">Le texte doit être inférieur à 301 caractères.</div>
              </div>
            </md-input-container>
            <div >
              <input type="text" id="wishlist.user._id"  ng-init="wishlist.user_id= nav.getCurrentUser()._id " ng-model="wishlist.user_id" disabled="disabled" class="form-control"  style="display: none;" />
            </div>

            <div class="form-group">
              <br>Photo:
              <input type="file" ngf-select ng-model="picFile" name="file"
                     accept="image/*" ngf-max-size="2MB" required
                     ngf-model-invalid="errorFile">
              <i ng-show="myForm.file.$error.required">*required</i><br>
              <i ng-show="myForm.file.$error.maxSize">File too large
                {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
              <span ng-show="picFile.result">Upload Successful</span>
              <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
            </div>

            <div class="col-sm-offset-6 col-sm-10">
              <md-button class="md-raised md-primary" type="submit">Ajouter</md-button>
            </div>
          </form>
      </div>
      </form>
    </div>
  </div>
</div>
