
<div class="gap"></div>
<!-- //////////////////////////////////
//////////////PAGE CONTENT/////////////
////////////////////////////////////-->


<div class="container">
  <div class="row">
    <div class="col-md-3">
      <aside class="sidebar-left">
        <ul class="nav nav-pills nav-stacked nav-arrow">
          <li><a ui-sref="settings" >Votre compte : </a>
          </li>
          <li><a ui-sref="favoris"> Annonces favoris : </a>
          </li>
          <li><a ui-sref="Wishlists">Votre Wishlist :</a>
          </li>
        </ul>
      </aside>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-9">
          <table class="table table-order">
            <thead>

              <th><b>Nom</b></th>
              <th><b>Description</b></th>

            </thead>
            <tbody>
            <tr ng-repeat="wishlist in Wishlists">
              <td>{{wishlist.name}}</td>
              <td>{{wishlist.info}}</td>
              <td>
                <a class="btn btn-primary" ui-sref="viewWishlist({id:wishlist.id})">Vue</a>
                <a class="btn btn-danger"  ng-click="deleteWishlist(wishlist)">effacer</a>
              </td>
            </tr>
            </tbody>
          </table>

          <a ui-sref="newWishlist" class="btn-primary btn-lg nodecoration">Ajoutez un nouveau produit</a>
          <div class="gap"></div>
        </div>
      </div>

    </div>
  </div>
</div>

