
<div class="gap"></div>
<!-- //////////////////////////////////
//////////////PAGE CONTENT/////////////
////////////////////////////////////-->


<div class="container">
  <div class="row">
    <div class="col-md-3">
      <aside class="sidebar-left">
        <ul class="nav nav-pills nav-stacked nav-arrow">
          <li><a ui-sref="settings" >Votre compte : </a>
          </li>
          <li><a ui-sref="showAnnounce({id:nav.getCurrentUser()._id})">Vos annonces :</a>
          </li>
          <li><a ui-sref="Wishlists({id:nav.getCurrentUser()._id})">Votre Wishlist : </a>
          </li>
        </ul>
      </aside>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-9">
          <h1>Mes souhaits</h1>
          <table class="table table-order">
            <thead>
<tr>
              <th><b>Nom</b></th>
              <th><b>Description</b></th>
</tr>
            </thead>
            <tbody>
            <tr ng-repeat="Wish in Wishlists">
              <td>{{Wish.title}}</td>
              <td>{{Wish.info}}</td>
              <td><img src="assets/images/{{Wish.image}}" alt="Description"/></td>
              <td>
                <a class="btn btn-primary" ui-sref="editWishlist({id:Wish._id})">Modifier</a>
                <a class="btn btn-danger"  ng-click="deleteWishlist(Wish)">abandonner</a>
              </td>
            </tr>
            </tbody>
          </table>

          <a ui-sref="newWishlist" class="btn-primary btn-lg nodecoration">Ajoutez vos souhaits</a>
          <div class="gap"></div>
        </div>
      </div>

    </div>
  </div>
</div>

