




<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>
<div class="gap"></div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div   ng-cloak>
        <md-content layout-padding>
          <form name="projectForm"  role="form" ng-submit="addWishlist()">

            <md-input-container class="md-block">
              <label>Titre</label>
              <input required name="Titre" ng-model="wishlist.title" placeholder="je souhaite !">
              <div ng-messages="projectForm.Titre.$error">
                <div ng-message="required">Saisissez un titre</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Description</label>
              <input md-maxlength="300" required md-no-asterisk name="description" ng-model="wishlist.info">
              <div ng-messages="projectForm.description.$error">
                <div ng-message="required">Saisissez un texte</div>
                <div ng-message="md-maxlength">Le texte doit être inférieur à 301 caractères.</div>
              </div>
            </md-input-container>



            <div >
              <input type="text" id="wishlist.user._id"  ng-init="wishlist.user._id= nav.getCurrentUser()._id " ng-model="wishlist.user._id" disabled="disabled" class="form-control"  style="display: none;" />
            </div>

            <div class="col-sm-offset-6 col-sm-10">
              <input type="submit" class="btn btn-primary" value="Ajouter"/>
            </div>
          </form>
        </md-content>


      </div>
      </form>



    </div>

