
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <aside class="sidebar-left">
        <ul class="nav nav-pills nav-stacked nav-arrow">
          <li><a ui-sref="settings" >Votre compte : </a>
          </li>
          <li><a ui-sref="showAnnounce({id:nav.getCurrentUser()._id})">Votre Annonce :</a>
          </li>
          <li><a ui-sref="Wishlists({id:nav.getCurrentUser()._id})">Votre Wishlist : </a>
          </li>
        </ul>
      </aside>
    </div>

    <br>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
<table class="table Announcetable" class="table table-order">
  <tr>


  </tr>


<div ng-repeat="announce in Announces">
    <div class="product-thumb" >
      <header class="product-header">
        <img src="assets/images/{{announce.category}}" alt="Image Alternative text" />
      </header>
      <div class="product-inner">
        <ul class="icon-group icon-list-rating" title="3.7/5 rating">
          <li><i class="fa fa-star"></i>
          </li>
          <li><i class="fa fa-star"></i>
          </li>
          <li><i class="fa fa-star"></i>
          </li>
          <li><i class="fa fa-star"></i>
          </li>
          <li><i class="fa fa-star-o"></i>
          </li>
        </ul>

        <h5 class="product-title">{{announce.title}}</h5>
        <p class="product-description"> {{announce.description}}  </p>
        <p class="product-price"> {{announce.price}}  </p>
      </div>
      <div>
        <a class="btn btn-primary" ui-sref="viewAnnounce({id:announce._id})">Vue</a>
        <a class="btn btn-danger"  ng-click="deleteAnnounce(announce)">effacer </a>
        </div>
    </div>
</div>




  </tr>
</table>







          </div>
        </div>
        <div class="gap gap-small"></div>
      </div>
    </div>

  </div>
</div>

</div>

