<div class="gap"></div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1"><h1>Créez votre annonce</h1></div>
  </div>
  <form class="form-horizontal" name="myForm" role="form"  ng-submit="create(picFile, announce)">

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
    <div class="form-group">
      <label for="title">Titre</label>
      <div >
        <input type="text" ng-model="announce.title" class="form-control" id="title" placeholder="Votre annonce"/>
      </div>
    </div>
    <div class="form-group">
      <label for="price">price</label>
      <div>
        <input type="number" ng-model="announce.price" class="form-control" id="price"/>
      </div>
    </div>
    <div class="form-group">
      <label for="description">description</label>
      <div>
        <input type="text" ng-model="announce.description" class="form-control" id="description"/>
      </div>
    </div>
    <div class="form-group">
      <label for="sousCategorie">SousCategorie</label>
        <div>
          <select   ng-model="announce.category" >
            <option value="objets personnels">objets personnels</option>
            <option value="beauté et santé">beauté et santé</option>
            <option value="Loisirs">Loisirs</option>
            <option value="sac et accessoires">Multimedia</option>
            <option value="Maison">Maison</option>
            <option value="véhicules">véhicules</option>
            <option value="Autres">Autres</option>
          </select>
        </div>



        <div ng-if="announce.category == 'objets personnels' " >
          <select  ng-model="announce.underCategory"  id="sousCategorie" >
            <option value="vetement">vetement</option>
            <option value="chaussures">chaussures</option>
            <option value="montre et bijoux">montre et bijoux</option>
            <option value="sac et accessoires">sac et accessoires</option>
          </select>
        </div>

        <div ng-if="announce.category == 'beauté et santé' " >
          <select  ng-model="announce.underCategory"   >
            <option value="produits cosmétiques">produits cosmetiques</option>
            <option value="Équipement medical">equipement medicale</option>
          </select>
        </div>


        <div ng-if="announce.category == 'Loisirs' " >
          <select  ng-model="announce.underCategory">
            <option value="films , livres et magazines">films , livres et magazines</option>
            <option value="animaux domestiques">animaux domestique</option>
            <option value="Instruments musicales">intruments musiquales</option>
          </select>
        </div>


        <div ng-if="announce.category == 'Multimedia' " >
          <select  ng-model="announce.underCategory">
            <option value="Téléphonie">telephonie</option>
            <option value="informatique et accessoires">informatique et accessoires</option>
            <option value="jeux videos et console">jeux videos et console</option>
          </select>
        </div>


        <div ng-if="announce.category == 'Maison' " >
          <select  ng-model="announce.underCategory">
            <option value="Intérieur">interieur</option>
            <option value="Electroménager">electromenager</option>
          </select>
        </div>

        <div ng-if="announce.category == 'véhicules' " >
          <select  ng-model="announce.underCategory">
            <option value="Motos">moto</option>
            <option value="Vélos">Vélos</option>
            <option value="Voiture">Voiture</option>
            <option value="Pièces de rechange et accessoires">Pièces de rechange et accessoires</option>
          </select>
        </div>


        <div ng-if="announce.category == 'Autres' " >
          <select  ng-model="announce.underCategory">
            <option value="Autres">autres</option>
          </select>
        </div>
      </div>
    <div class="form-group">
      <br>Photo:
      <input type="file" ngf-select ng-model="picFile" name="file"
             accept="image/*" ngf-max-size="2MB" required
             ngf-model-invalid="errorFile">
      <i ng-show="myForm.file.$error.required">*required</i><br>
      <i ng-show="myForm.file.$error.maxSize">File too large
        {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
      <span ng-show="picFile.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
    </div>
    <div class="form-group">
          <input type="text" id="announce.user_id"  ng-init="announce.user_id= nav.getCurrentUser()._id " ng-model="announce.user_id" disabled="disabled" class="form-control"  style="display: none;" />
          <input type="text" id="announce.username"  ng-init="announce.username= nav.getCurrentUser().name " ng-model="announce.username" disabled="disabled" class="form-control"  style="display: none;" />
          <input type="text" id="announce.useremail"  ng-init="announce.useremail= nav.getCurrentUser().email " ng-model="announce.useremail" disabled="disabled" class="form-control"  style="display: none;" />
          <input type="text" id="announce.userstatus"  ng-init="announce.userstatus= nav.getCurrentUser().status " ng-model="announce.userstatus" disabled="disabled" class="form-control"  style="display: none;" />
    </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-10">
        <button type="submit" class="btn btn-primary" value="Save" style="height:80px;width:200px">Déposez votre annonce</button>
      </div>
    </div>

  </form>
</div>
<div class="gap"></div><div class="gap"></div><div class="gap"></div><div class="gap"></div><div class="gap"></div><div class="gap"></div><div class="gap"></div>
<div class="gap"></div><div class="gap"></div><div class="gap"></div><div class="gap"></div><div class="gap"></div><div class="gap"></div>



