<div class="gap"></div>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1"><h1>Créez votre annonce</h1></div>
  </div>
  <form class="form-horizontal" name="myForm" role="form"  ng-submit="create(picFile, announce)">

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
    <div class="form-group">
      <label for="title">Titre</label>
      <div >
        <input type="text" ng-model="announce.title" class="form-control" id="title" placeholder="Votre annonce"/>
      </div>
    </div>
    <div class="form-group">
      <label for="price">price</label>
      <div>
        <input type="number" ng-model="announce.price" class="form-control" id="price"/>
      </div>
    </div>
    <div class="form-group">
      <label for="description">description</label>
      <div>
        <input type="text" ng-model="announce.description" class="form-control" id="description"/>
      </div>
    </div>
    <div class="form-group">
      <label for="sousCategorie">SousCategorie</label>
      <div>
            <select  ng-model="announce.underCategory"  id="sousCategorie">
              <option value="vetement">vetement</option>
              <option value="beaute et sante">beaute et sante</option>
              <option value="montre et bijoux">montre et bijoux</option>
              <option value="sac et accessoires">sac et accessoires</option>
              <option value="maison">maison</option>
              <option value="produits cosmetiques">produits cosmetiques</option>
              <option value="equipement medicale">equipement medicale</option>
              <option value="films , livres et magazines">films , livres et magazines</option>
              <option value="animaux domestique">animaux domestique</option>
              <option value="intruments musiquales">intruments musiquales</option>
              <option value="telephonie">telephonie</option>
              <option value="informatique et accessoires">informatique et accessoires</option>
              <option value="jeux videos et console">jeux videos et console</option>
              <option value="interieur">interieur</option>
              <option value="electromenager">electromenager</option>
              <option value="moto">moto</option>
              <option value="velo">voiture</option>
              <option value="piece de rechange et accessoires">piece de rechange et accessoires</option>
              <option value="autres">autres</option>
            </select>
          </div>
    </div>
    <div class="form-group">
      <br>Photo:
      <input type="file" ngf-select ng-model="picFile" name="file"
             accept="image/*" ngf-max-size="2MB" required
             ngf-model-invalid="errorFile">
      <i ng-show="myForm.file.$error.required">*required</i><br>
      <i ng-show="myForm.file.$error.maxSize">File too large
        {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
      <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
      <br>
      <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%"
             ng-bind="picFile.progress + '%'"></div>
      </span>
      <span ng-show="picFile.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
    </div>
    <div class="form-group">
          <input type="text" id="announce.user._id"  ng-init="announce.user._id= nav.getCurrentUser()._id " ng-model="announce.user._id" disabled="disabled" class="form-control"  style="display: none;" />
          <input type="text" id="announce.user.name"  ng-init="announce.user.name= nav.getCurrentUser().name " ng-model="announce.user.name" disabled="disabled" class="form-control"  style="display: none;" />
          <input type="text" id="announce.user.email"  ng-init="announce.user.email= nav.getCurrentUser().email " ng-model="announce.user.email" disabled="disabled" class="form-control"  style="display: none;" />
          <input type="text" id="announce.user.status"  ng-init="announce.user.status= nav.getCurrentUser().status " ng-model="announce.user.status" disabled="disabled" class="form-control"  style="display: none;" />
    </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-10">
        <button type="submit" class="btn btn-primary" value="Save" ng-click="uploadPic(picFile)" style="height:80px;width:200px">Déposez votre annonce</button>
      </div>
    </div>

  </form>
</div>
<div class="gap"></div><div class="gap"></div><div class="gap"></div><div class="gap"></div><div class="gap"></div><div class="gap"></div><div class="gap"></div>
<div class="gap"></div><div class="gap"></div><div class="gap"></div><div class="gap"></div><div class="gap"></div><div class="gap"></div>



