<div class="gap"></div>

<!-- //////////////////////////////////
//////////////PAGE CONTENT/////////////
////////////////////////////////////-->



<div class="container">
  <div class="row">

    <div class="col-md-9">
      <div id="review-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix" >
        <h3>Add a Review</h3>
        <form>
          <div class="form-group">
            <label>Name</label>
            <input type="text" placeholder="e.g. John Doe" class="form-control" />
          </div>
          <div class="form-group">
            <label>E-mail</label>
            <input type="text" placeholder="e.g. jogndoe@gmail.com" class="form-control" />
          </div>
          <div class="form-group">
            <label>Review</label>
            <textarea class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label>Rating</label>
            <ul class="icon-list icon-list-inline star-rating" id="star-rating">
              <li><i class="fa fa-star"></i>
              </li>
              <li><i class="fa fa-star"></i>
              </li>
              <li><i class="fa fa-star"></i>
              </li>
              <li><i class="fa fa-star"></i>
              </li>
              <li><i class="fa fa-star"></i>
              </li>
            </ul>
          </div>
          <input type="submit" class="btn btn-primary" value="Submit" />
        </form>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="fotorama" data-nav="thumbs" data-allowfullscreen="1" data-thumbheight="150" data-thumbwidth="150">
            <img src="assets/images/{{announce.category}}" alt="Image Alternative text" />
            <img src="assets/img/opel2.jpg" alt="Image Alternative text" title="AMaze" />
            <img src="assets/img/opel3.jpg" alt="Image Alternative text" title="Urbex Esch/Lux with Laney and Laaaaag" />
            <img src="assets/img/opel4.jpg" alt="Image Alternative text" title="Food is Pride" />
          </div>
        </div>
        <div class="col-md-5">
          <div class="product-info box">

            <h3>Titre : {{announce.title}}</h3>
            <p class="product-info-price">Prix : {{announce.price}} DT</p>
            <p class="text-smaller text-muted"> Description du produit :
              {{announce.description}}
            </p>
            <ul class="icon-list list-space product-info-list">
              <li><i class="fa fa-check"></i>Catégorie :{{announce.underCategory}}</li>
              <li><i class="fa fa-check"></i>Date d'ajout : {{announce.datePost}}</li>
            </ul>
            <ul class="list-inline">
              <li><a ui-sref="Negociation" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Badel !</a>
              </li>
              <li><a href="#" class="btn"><i class="fa fa-star"></i>Ajouter au Favoris</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="gap"></div>
      <div class="tabbable">
        <ul class="nav nav-tabs" id="myTab">
          <li class="active"><a href="#tab-1" data-toggle="tab"><i class="fa fa-comments"></i>Discussion</a>
          </li>
          <li><a href="#tab-2" data-toggle="tab"><i class="fa fa-comment"></i>conversation instantanée</a>
          </li>
          <li><a href="#tab-3" data-toggle="tab"><i class="fa fa-video-camera"></i>conversation en Video</a>
          </li>
          <li><a href="#tab-4" data-toggle="tab"><i class="fa fa-exchange"></i>Badel !!!</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="tab-1" >
            <div ng-controller="commentListController">
            <ul class="comments-list" ng-repeat="c in comments">
              <li>
                <!-- REVIEW -->
                <article class="comment">
                  <div class="comment-author">
                    <img src="assets/img/50x50.png" alt="Image Alternative text" title="Gamer Chick" />
                  </div>
                  <div class="comment-inner">
                    <span class="comment-author-name">{{ c.postedby }}</span>
                    <p class="comment-content">{{ c.text }}</p>
                  </div>
                </article>
              </li>
            </ul>
            </div>
            <div ng-controller="commentCreateController">
            <form class="form-horizontal" role="form" ng-submit="addcomment()">
            <textarea ng-model="comments.text"> </textarea>
              <input type="text" id="comments.postedby"  ng-init="comments.postedby= nav.getCurrentUser().name " ng-model="comments.postedby" disabled="disabled" class="form-control"  style="display: none;" />
              <button type="submit" class="btn btn-primary"><i class="fa fa-pencil"></i> Ajouter</button>
            </form>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-2">

          </div>

          <div class="tab-pane fade" id="tab-3">
          </div>
          <div class="tab-pane fade" id="tab-4">

            <div class="form-group" ng-controller="OffreCreateController">
              <form class="form-horizontal" role="form" ng-submit="addOffre()">

              <label class="col-sm-2 control-label">Description</label>
              <div class="col-sm-10">



                <input type="text" ng-model="offre.description" class="form-control" id="offre.description" placeholder="Decrire votre offre ..."/>
                <input type="text" ng-model="offre.marque" class="form-control" id="offre.marque" placeholder="Marque ..."/>
                <input type="text" ng-model="offre.prix" class="form-control" id="offre.prix" placeholder="Prix ..."/>
                <input type="text" id="offre.user._id"  ng-value="offre.user._id= nav.getCurrentUser()._id " ng-model="offre.user._id"  class="form-control" disabled="disabled" style="display: none;" />
                <input type="text" id="offre.user.name" ng-value="offre.user.name= nav.getCurrentUser().name" ng-model="offre.user.name"  class="form-control"  disabled="disabled"  style="display: none;"/>
                <input type="text" id="offre.user.email" ng-value="offre.user.email= nav.getCurrentUser().email" ng-model="offre.user.email"  class="form-control" disabled="disabled" style="display: none;" />
                <input type="text" id="offre.anounceUser._id"  ng-value="offre.anounceUser._id= announce.user[0]._id " ng-model="offre.anounceUser._id"  class="form-control" disabled="disabled" style="display: none;" />
                <input type="text" id="offre.anounceUser.name" ng-value="offre.anounceUser.name= announce.user[0].name" ng-model="offre.anounceUser.name"  class="form-control"  disabled="disabled" style="display: none;" />
                <input type="text" id="offre.anounceUser.email" ng-value="offre.anounceUser.email= announce.user[0].email" ng-model="offre.anounceUser.email"  class="form-control" disabled="disabled" style="display: none;" />
                <input type="text" id="offre.announce"   ng-value="offre.announce=announce._id" ng-model="offre.announce"  class="form-control"  disabled="disabled" style="display: none;" />



              </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary"  value="Demander"/>
              </div>
            </div>

            </form>

            <br><br><br><br>


          </div>
        </div>
      </div>
      <div class="gap"></div>
      <h3>Produits similaires</h3>
      <div class="gap gap-mini"></div>
      <div class="row row-wrap">
        <div class="col-md-4">
          <div class="product-thumb">
            <header class="product-header">
              <img src="assets/img/oca1.jpg" alt="Image Alternative text" title="the best mode of transport here in maldives" />
            </header>
            <div class="product-inner">
              <ul class="icon-group icon-list-rating icon-list-non-rated" title="not rated yet">
                <li><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star"></i>
                </li>
              </ul>
              <h5 class="product-title">Range Rover</h5>
              <p class="product-desciption">Voiture neuf</p>
              <div class="product-meta">
                <ul class="product-price-list">
                  <li><span class="product-price">$190000</span>
                  </li>
                </ul>
                <ul class="product-actions-list">
                  <li><a class="btn btn-sm"><i class="fa fa-bars"></i> Details</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-thumb">
            <header class="product-header">
              <img src="assets/img/oca2.jpg" alt="Image Alternative text" title="Ana 29" />
            </header>
            <div class="product-inner">
              <ul class="icon-group icon-list-rating" title="4.4/5 rating">
                <li><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star-half-empty"></i>
                </li>
              </ul>
              <h5 class="product-title">Polo 5</h5>
              <p class="product-desciption">Bonne ocasion neuf</p>
              <div class="product-meta">
                <ul class="product-price-list">
                  <li><span class="product-price">$12000</span>
                  </li>
                </ul>
                <ul class="product-actions-list">
                  <li><a class="btn btn-sm"><i class="fa fa-bars"></i> Details</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-thumb">
            <header class="product-header">
              <img src="assets/img/oca3.jpg" alt="Image Alternative text" title="Gamer Chick" />
            </header>
            <div class="product-inner">
              <ul class="icon-group icon-list-rating" title="4.4/5 rating">
                <li><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star-half-empty"></i>
                </li>
              </ul>
              <h5 class="product-title">BMW Serie 1</h5>
              <p class="product-desciption">Offre classe pour, voiture en bonne état</p>
              <div class="product-meta">
                <ul class="product-price-list">
                  <li><span class="product-price">Offre classe pour, voiture en bonne état</span>
                  </li>
                </ul>
                <ul class="product-actions-list">
                  <li><a class="btn btn-sm" href="#"><i class="fa fa-shopping-cart"></i> Baddel !</a>
                  </li>
                  <li><a class="btn btn-sm"><i class="fa fa-bars"></i> Details</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap gap-small"></div>
    </div>
  </div>

</div>


<!-- //////////////////////////////////
//////////////END PAGE CONTENT/////////
////////////////////////////////////-->

