<div class="gap"></div>

<!-- //////////////////////////////////
//////////////PAGE CONTENT/////////////
////////////////////////////////////-->



<div class="container">
  <div class="row">

    <div class="col-md-9">
      <div id="review-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix" >
        <h3>Add a Review</h3>
        <form>
          <div class="form-group">
            <label>Name</label>
            <input type="text" placeholder="e.g. John Doe" class="form-control" />
          </div>
          <div class="form-group">
            <label>E-mail</label>
            <input type="text" placeholder="e.g. jogndoe@gmail.com" class="form-control" />
          </div>
          <div class="form-group">
            <label>Review</label>
            <textarea class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label>Rating</label>
            <ul class="icon-list icon-list-inline star-rating" id="star-rating">
              <li><i class="fa fa-star"></i>
              </li>
              <li><i class="fa fa-star"></i>
              </li>
              <li><i class="fa fa-star"></i>
              </li>
              <li><i class="fa fa-star"></i>
              </li>
              <li><i class="fa fa-star"></i>
              </li>
            </ul>
          </div>
          <input type="submit" class="btn btn-primary" value="Submit" />
        </form>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="fotorama" data-nav="thumbs" data-allowfullscreen="1" data-thumbheight="150" data-thumbwidth="150">
            <img src="assets/img/opel1.jpg" alt="Image Alternative text" title="Gamer Chick" />
            <img src="assets/img/opel2.jpg" alt="Image Alternative text" title="AMaze" />
            <img src="assets/img/opel3.jpg" alt="Image Alternative text" title="Urbex Esch/Lux with Laney and Laaaaag" />
            <img src="assets/img/opel4.jpg" alt="Image Alternative text" title="Food is Pride" />
          </div>
        </div>
        <div class="col-md-5">
          <div class="product-info box">

            <h3>{{announce.title}}</h3>
            <p class="product-info-price">{{announce.price}} DT</p>
            <p class="text-smaller text-muted">
              {{announce.description}}
            </p>
            <ul class="icon-list list-space product-info-list">
              <li><i class="fa fa-check"></i>{{announce.category}}</li>
              <li><i class="fa fa-check"></i>{{announce.underCategory}}</li>
              <li><i class="fa fa-check"></i>{{announce.datePost}}</li>
            </ul>
            <ul class="list-inline">
              <li><a ui-sref="Negociation" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Badel !</a>
              </li>
              <li><a href="#" class="btn"><i class="fa fa-star"></i>Ajouter au Favoris</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="gap"></div>
      <div class="tabbable">
        <ul class="nav nav-tabs" id="myTab">
          <li class="active"><a href="#tab-1" data-toggle="tab"><i class="fa fa-comments"></i>Discussion</a>
          </li>
          <li><a href="#tab-2" data-toggle="tab"><i class="fa fa-comment"></i>conversation instantanée</a>
          </li>
          <li><a href="#tab-3" data-toggle="tab"><i class="fa fa-video-camera"></i>conversation en Video</a>
          </li>
          <li><a href="#tab-4" data-toggle="tab"><i class="fa fa-exchange"></i>Badel !!!</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="tab-1">
            <p>Une trés jolie OPEL Astra blanche en bonne état, appartenais a une femme en 1er main.<br>
              Puissance : 5CV<br>
              Carburant : Diesel 50<br>
              Toute OPTION: vitre electrique, clim etc ..<br>
              surtout trés bien enretenue.<br>
              Vous pouvez me contacter a tout moment sur ce numéro:<br>
              52858113
            </p>
            <p>
            <strong>
              Cherche
            </strong>
              <br>
              une voiture de même valeur<br>
            </p>

          </div>
          <div class="tab-pane fade" id="tab-2">
            <table class="table table-striped mb0">
              <tbody>
              <tr>
                <td>Price</td>
                <td>15000$</td>
              </tr>
              <tr>
                <td>Type</td>
                <td>Diesel</td>
              </tr>
              <tr>
                <td>Power</td>
                <td>5 cv</td>
              </tr>
              <tr>
                <td>Color</td>
                <td>White</td>
              </tr>
              <tr>
                <td>Boite</td>
                <td>Manuel</td>
              </tr>
              <tr>
                <td>Distinction</td>
                <td>Not bad</td>
              </tr>

              </tbody>
            </table>
          </div>

          <div class="tab-pane fade" id="tab-3">
            <ul class="comments-list">
              <li>
                <!-- REVIEW -->
                <article class="comment">
                  <div class="comment-author">
                    <img src="assets/img/50x50.png" alt="Image Alternative text" title="Gamer Chick" />
                  </div>
                  <div class="comment-inner">
                    <ul class="icon-group icon-list-rating comment-review-rate" title="4/5 rating">
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star-o"></i>
                      </li>
                    </ul><span class="comment-author-name">Bernadette Cornish</span>
                    <p class="comment-content">Metus nam scelerisque class est erat conubia rhoncus eu platea convallis dapibus etiam donec facilisi imperdiet lorem ornare nec ad netus hendrerit ligula curae sodales</p>
                  </div>
                </article>
              </li>
              <li>
                <!-- REVIEW -->
                <article class="comment">
                  <div class="comment-author">
                    <img src="assets/img/50x50.png" alt="Image Alternative text" title="Ana 29" />
                  </div>
                  <div class="comment-inner">
                    <ul class="icon-group icon-list-rating comment-review-rate" title="4/5 rating">
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star-o"></i>
                      </li>
                    </ul><span class="comment-author-name">Joseph Watson</span>
                    <p class="comment-content">Mollis curabitur tincidunt consequat adipiscing potenti conubia elit senectus consequat vitae neque inceptos lorem orci vitae pretium hendrerit suspendisse quisque eros tempus</p>
                  </div>
                </article>
              </li>
              <li>
                <!-- REVIEW -->
                <article class="comment">
                  <div class="comment-author">
                    <img src="assets/img/50x50.png" alt="Image Alternative text" title="Afro" />
                  </div>
                  <div class="comment-inner">
                    <ul class="icon-group icon-list-rating comment-review-rate" title="5/5 rating">
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star"></i>
                      </li>
                    </ul><span class="comment-author-name">Frank Mills</span>
                    <p class="comment-content">Elit magnis arcu lobortis nec orci a laoreet tristique primis ultrices</p>
                  </div>
                </article>
              </li>
              <li>
                <!-- REVIEW -->
                <article class="comment">
                  <div class="comment-author">
                    <img src="assets/img/50x50.png" alt="Image Alternative text" title="Bubbles" />
                  </div>
                  <div class="comment-inner">
                    <ul class="icon-group icon-list-rating comment-review-rate" title="5/5 rating">
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star"></i>
                      </li>
                    </ul><span class="comment-author-name">Cyndy Naquin</span>
                    <p class="comment-content">Rhoncus tristique malesuada tristique imperdiet habitant netus sociosqu class vehicula magnis vestibulum pretium per</p>
                  </div>
                </article>
              </li>
              <li>
                <!-- REVIEW -->
                <article class="comment">
                  <div class="comment-author">
                    <img src="assets/img/50x50.png" alt="Image Alternative text" title="Me with the Uke" />
                  </div>
                  <div class="comment-inner">
                    <ul class="icon-group icon-list-rating comment-review-rate" title="5/5 rating">
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star"></i>
                      </li>
                    </ul><span class="comment-author-name">Ava McDonald</span>
                    <p class="comment-content">Ullamcorper a montes ligula molestie lacus conubia leo senectus tempus ante porta vulputate dis euismod sagittis risus pretium</p>
                  </div>
                </article>
              </li>
              <li>
                <!-- REVIEW -->
                <article class="comment">
                  <div class="comment-author">
                    <img src="assets/img/50x50.png" alt="Image Alternative text" title="AMaze" />
                  </div>
                  <div class="comment-inner">
                    <ul class="icon-group icon-list-rating comment-review-rate" title="4/5 rating">
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star-o"></i>
                      </li>
                    </ul><span class="comment-author-name">Carl Butler</span>
                    <p class="comment-content">Conubia parturient consequat netus inceptos dapibus platea potenti habitasse eros at fringilla nisl parturient netus ultrices eleifend mus commodo leo sociosqu platea vehicula himenaeos mattis etiam vestibulum pharetra</p>
                  </div>
                </article>
              </li>
              <li>
                <!-- REVIEW -->
                <article class="comment">
                  <div class="comment-author">
                    <img src="assets/img/50x50.png" alt="Image Alternative text" title="Chiara" />
                  </div>
                  <div class="comment-inner">
                    <ul class="icon-group icon-list-rating comment-review-rate" title="4/5 rating">
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star-o"></i>
                      </li>
                    </ul><span class="comment-author-name">Keith Churchill</span>
                    <p class="comment-content">In vivamus nisi nisi lobortis scelerisque quis nisl ligula torquent mattis consectetur netus commodo senectus primis natoque quisque cursus molestie odio primis massa conubia magnis</p>
                  </div>
                </article>
              </li>
              <li>
                <!-- REVIEW -->
                <article class="comment">
                  <div class="comment-author">
                    <img src="assets/img/50x50.png" alt="Image Alternative text" title="Andrea" />
                  </div>
                  <div class="comment-inner">
                    <ul class="icon-group icon-list-rating comment-review-rate" title="4/5 rating">
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star"></i>
                      </li>
                      <li><i class="fa fa-star-o"></i>
                      </li>
                    </ul><span class="comment-author-name">Carl Butler</span>
                    <p class="comment-content">Dolor dictumst cras nullam integer libero eget rutrum semper gravida blandit dictumst justo litora lacinia diam pharetra tristique litora</p>
                  </div>
                </article>
              </li>
            </ul><a class="popup-text btn btn-primary" href="#review-dialog" data-effect="mfp-zoom-out"><i class="fa fa-pencil"></i> Add a review</a>
          </div>
          <div class="tab-pane fade" id="tab-4">

            <div class="form-group" ng-controller="OffreCreateController">
              <form class="form-horizontal" role="form" ng-submit="addOffre()">

              <label for="socialReason" class="col-sm-2 control-label">Description</label>
              <div class="col-sm-10">



                <div text-angular ng-model="offre.description"></div>
                <input ng-model="offre.marque" class="form-control" id="offre.marque" placeholder="Marque ..."/>
                <input type="text" ng-model="offre.prix" class="form-control" id="offre.prix" placeholder="Prix ..."/>
                <input type="text" id="offre.user1"  ng-init="offre.user1= nav.getCurrentUser()._id " ng-model="offre.user1"  class="form-control"  style="display: none;"/>
                <input type="text" id="offre.user2" ng-value="offre.user2=announce.user" ng-model="offre.user2"  class="form-control"   style="display: none;"/>
                <input type="text" id="offre.announce"   ng-value="offre.announce=announce._id" ng-model="offre.announce"  class="form-control"   style="display: none;"/>

                <p class="comment-content" id="messages"></p>


                <form action="">
                  <div class="form-group mb10">
                    <label>Tchat</label>
                  </div>
                  <p class="mb10">Vous pouvez discuter avec votre acheteur/echangeur</p>
                  <input id="m" autocomplete="off" />
                  <button class="btn btn-primary">Send</button>

                </form>
              </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary"  value="Demander"/>
              </div>
            </div>

            </form>

              <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br> <br><br><br><br>
              <br><br><br><br> <br><br><br><br>  <br><br><br><br> <br><br><br><br>


          </div>
        </div>
      </div>
      <div class="gap"></div>
      <h3>Produits similaires</h3>
      <div class="gap gap-mini"></div>
      <div class="row row-wrap">
        <div class="col-md-4">
          <div class="product-thumb">
            <header class="product-header">
              <img src="assets/img/oca1.jpg" alt="Image Alternative text" title="the best mode of transport here in maldives" />
            </header>
            <div class="product-inner">
              <ul class="icon-group icon-list-rating icon-list-non-rated" title="not rated yet">
                <li><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star"></i>
                </li>
              </ul>
              <h5 class="product-title">Range Rover</h5>
              <p class="product-desciption">Voiture neuf</p>
              <div class="product-meta">
                <ul class="product-price-list">
                  <li><span class="product-price">$190000</span>
                  </li>
                </ul>
                <ul class="product-actions-list">
                  <li><a class="btn btn-sm"><i class="fa fa-bars"></i> Details</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-thumb">
            <header class="product-header">
              <img src="assets/img/oca2.jpg" alt="Image Alternative text" title="Ana 29" />
            </header>
            <div class="product-inner">
              <ul class="icon-group icon-list-rating" title="4.4/5 rating">
                <li><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star-half-empty"></i>
                </li>
              </ul>
              <h5 class="product-title">Polo 5</h5>
              <p class="product-desciption">Bonne ocasion neuf</p>
              <div class="product-meta">
                <ul class="product-price-list">
                  <li><span class="product-price">$12000</span>
                  </li>
                </ul>
                <ul class="product-actions-list">
                  <li><a class="btn btn-sm"><i class="fa fa-bars"></i> Details</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="product-thumb">
            <header class="product-header">
              <img src="assets/img/oca3.jpg" alt="Image Alternative text" title="Gamer Chick" />
            </header>
            <div class="product-inner">
              <ul class="icon-group icon-list-rating" title="4.4/5 rating">
                <li><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star"></i>
                </li>
                <li><i class="fa fa-star-half-empty"></i>
                </li>
              </ul>
              <h5 class="product-title">BMW Serie 1</h5>
              <p class="product-desciption">Offre classe pour, voiture en bonne état</p>
              <div class="product-meta">
                <ul class="product-price-list">
                  <li><span class="product-price">Offre classe pour, voiture en bonne état</span>
                  </li>
                </ul>
                <ul class="product-actions-list">
                  <li><a class="btn btn-sm" href="#"><i class="fa fa-shopping-cart"></i> Baddel !</a>
                  </li>
                  <li><a class="btn btn-sm"><i class="fa fa-bars"></i> Details</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gap gap-small"></div>
    </div>
  </div>

</div>
  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script>
    var socket = io();
    $('form').submit(function(){
      socket.emit('chat message', $('#m').val());
      $('#m').val('');
      return false;
    });
    socket.on('chat message', function(msg){
      $('#messages').append($('<li>').text(msg));
    });
  </script>

<!-- //////////////////////////////////
//////////////END PAGE CONTENT/////////
////////////////////////////////////-->

