<div class="gap"></div>

<!-- //////////////////////////////////
//////////////PAGE CONTENT/////////////
////////////////////////////////////-->



<div class="container">
  <div class="row">
    <div class="col-md-3">
      <aside class="sidebar-left">
        <div class="sidebar-box" ng-controller="RechercheCtrl">
          <h5>Annonces Tayara.tn</h5>
          <ul class="thumb-list" ng-repeat="s in scrappes | limitTo:10" >
            <li>
              <a>
                <img src="{{s.Image}}" alt="{{s.alt}}"  />
              </a>
              <div class="thumb-list-item-caption">
                <h5 class="thumb-list-item-title"><a>{{s.Titre}}</a></h5>
                <p class="thumb-list-item-price">{{s.Prix}}</p>
              </div>
            </li>
            <li></li>
          </ul>
        </div>
      </aside>
    </div>
    <div class="col-md-9">
      <div id="review-dialog" class="mfp-with-anim mfp-hide mfp-dialog clearfix" ng-controller="commentCreateController">
        <h3>Ajouter un commentaire</h3>
        <form ng-submit="addcomment()">
          <div class="form-group" >
            <label>Nom</label>
            <input type="text" id="comments.postedby"  ng-value="comments.postedby= nav.getCurrentUser().name " ng-model="comments.postedby" disabled="disabled" class="form-control"/>
            <input type="text" id="comments.idannounce"  ng-value="comments.idannounce = announce._id " ng-model="comments.idannounce" disabled="disabled" class="form-control"  style="display: none;" />
            <input type="text" id="comments.iduser" ng-value="comments.iduser=  nav.getCurrentUser()._id  " ng-model="comments.iduser" disabled="disabled" class="form-control"  style="display: none;" />
          </div>
          <div class="form-group">
            <label>Commentaire</label>
            <textarea class="form-control" ng-model="comments.text"></textarea>
          </div>
          <input type="submit" class="btn btn-primary" value="Envoyer" />
        </form>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="fotorama" data-nav="thumbs" data-allowfullscreen="1" data-thumbheight="150" data-thumbwidth="150">
            <img src="../../assets/img/800x600.png" alt="Image Alternative text" title="Gamer Chick" />
            <img src="../../assets/img/800x600.png" alt="Image Alternative text" title="AMaze" />
            <img src="../../assets/img/800x600.png" alt="Image Alternative text" title="Urbex Esch/Lux with Laney and Laaaaag" />
            <img src="../../assets/img/800x600.png" alt="Image Alternative text" title="Food is Pride" />
          </div>
        </div>
        <div class="col-md-5">
          <div class="product-info box">

            <h3>Titre : {{announce.title}}</h3>
            <p class="product-info-price">Prix : {{announce.price}} DT</p>
            <p class="text-smaller text-muted"> Description du produit :
              {{announce.description}}
            </p>
            <ul class="icon-list list-space product-info-list">
              <li><i class="fa fa-check"></i>Catégorie :{{announce.underCategory}}</li>
              <li><i class="fa fa-check"></i>Date d'ajout : {{announce.datePost}}</li>
              <div ng-if="announce.user.status == 'novice'">
                <li><p><i class="fa fa-check"></i> l'utilisateur {{announce.user[0].name}} vient de nous rejoindre ! souhaitons le bienvenu !  </p></li>
              </div>
              <div ng-if="announce.user[0].status == 'fiable'">
                <li><p><i class="fa fa-check"></i> l'utilisateur {{announce.user[0].name}} est digne de confiance ! </p></li>
              </div>
              <div ng-if="announce.user.status == 'Pro!'">
                <li><p><i class="fa fa-check"></i>l'utilisateur {{announce.user[0].name}} est un vrais Pro ! avec lui, négociez les yeux fermés  </p></li>
              </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="gap"></div>
      <div class="tabbable">
        <ul class="nav nav-tabs" id="myTab">
          <li class="active"><a href="#tab-1" data-toggle="tab"><i class="fa fa-comments"></i>Discussion</a>
          </li>
          <li><a href="#tab-2" data-toggle="tab"><i class="fa fa-comment"></i>conversation instantanée</a>
          </li>
          <li><a href="#tab-3" data-toggle="tab"><i class="fa fa-video-camera"></i>conversation en Video</a>
          </li>
          <li><a href="#tab-4" data-toggle="tab"><i class="fa fa-shopping-cart"></i>voir wishlist </a>
          </li>
          <li ng-if="announce.status == ' en cours de negotiation'"><a href="#tab-5" data-toggle="tab"><i class="fa fa-exchange"></i>Badel !!!</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="tab-1" >
            <div ng-controller="commentListController">
            <ul class="comments-list" ng-repeat="c in comments |filter:announce._id">
              <li>
                <!-- REVIEW -->
                <article class="comment">
                  <div class="comment-author">
                    <img src="../../assets/img/50x50.png" alt="Image Alternative text" title="Gamer Chick" />
                  </div>
                  <div class="comment-inner">
                    <span class="comment-author-name">{{ c.postedby }}</span>
                    <p class="comment-content">{{ c.text }}</p>
                  </div>
                </article>
              </li>
            </ul>
            </div>
            <a class="popup-text btn btn-primary" href="#review-dialog" data-effect="mfp-zoom-out"><i class="fa fa-pencil"></i> Ajouter un commentaire</a>
          </div>
          <div class="tab-pane fade" id="tab-2">

            Enter Chat and press enter
            <div><input id=input placeholder=you-chat-here /></div>

            Chat Output
            <div id=box></div>
          </div>
          <div class="tab-pane fade" id="tab-3">
          </div>
          <div class="tab-pane fade" id="tab-4" >
            <div ng-controller="SupplierListController">
            <h1> souhaits de </h1>
            <table >
              <thead>
              <tr>
                <th><b>Nom</b></th>
                <th><b>Description</b></th>
              </tr>
              </thead>
              <tbody>

              <tr ng-repeat="announce in Suppliers | filter:announce.user[0]._id ">
                <td>{{announce.title}}</td>
                <td>{{announce.info}}</td>
              </tr>

              </tbody>
            </table>
          </div>
          </div>
          <div class="tab-pane fade" id="tab-5">

            <div class="form-group" ng-controller="OffreCreateController">
              <form class="form-horizontal" role="form" ng-submit="addOffre()">

                <label  class="col-sm-2 control-label">Description</label>


                <div class="col-sm-10">

                  <div text-angular ng-model="offre.description"></div>
                  <input ng-model="offre.marque" class="form-control" id="offre.marque" placeholder="Marque ..."/>
                  <input type="text" ng-model="offre.prix" class="form-control" id="offre.prix" placeholder="Prix ..."/>
                  <input type="text" id="offre.user._id"  ng-value="offre.user._id= nav.getCurrentUser()._id " ng-model="offre.user._id"  class="form-control" disabled="disabled" style="display: none;" />
                  <input type="text" id="offre.user.name" ng-value="offre.user.name= nav.getCurrentUser().name" ng-model="offre.user.name"  class="form-control"  disabled="disabled"  style="display: none;"/>
                  <input type="text" id="offre.user.email" ng-value="offre.user.email= nav.getCurrentUser().email" ng-model="offre.user.email"  class="form-control" disabled="disabled" style="display: none;" />
                  <input type="text" id="offre.anounceUser._id"  ng-value="offre.anounceUser._id= announce.user[0]._id " ng-model="offre.anounceUser._id"  class="form-control" disabled="disabled" style="display: none;" />
                  <input type="text" id="offre.anounceUser.name" ng-value="offre.anounceUser.name= announce.user[0].name" ng-model="offre.anounceUser.name"  class="form-control"  disabled="disabled" style="display: none;" />
                  <input type="text" id="offre.anounceUser.email" ng-value="offre.anounceUser.email= announce.user[0].email" ng-model="offre.anounceUser.email"  class="form-control" disabled="disabled" style="display: none;" />
                  <input type="text" id="offre.announce"   ng-value="offre.announce=announce._id" ng-model="offre.announce"  class="form-control"  disabled="disabled" style="display: none;" />



                </div>

                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" class="btn btn-primary"  value="Demander"/>
                  </div>
                </div>
              </form>
              <br><br><br><br>
            </div>
          </div>
      </div>
      </div>
      <div class="gap"></div>
      <div ng-if="announce.status == ' en cours de negotiation'">
      <h3>Les Offres proposer</h3>
      <div class="gap gap-mini"></div>
      <div ng-controller="OffreListController">
      <div class="row row-wrap">
        <div class="col-md-4" ng-repeat="o in Offres |filter:announce._id">
          <div class="product-thumb">
            <header class="product-header">
              <img src="../../assets/img/800x600.png" alt="Image Alternative text" title="the best mode of transport here in maldives" />
            </header>
            <div class="product-inner">
              <h5 class="product-title">{{o.marque}}</h5>
              <p class="product-desciption">{{o.description}}</p>
              <div class="product-meta">
                <ul class="product-price-list">
                  <li><span class="product-price">{{o.prix}}</span>
                  </li>
                </ul>
                <ul class="product-actions-list">
                  <li><a  class="btn btn-success" ng-click="UpdateAnnonce(o)" ><i class="fa fa-check"></i> Baddel !</a>
                  </li>
                  <li><a class="btn btn-danger"  ng-click="deleteOffre(o)"><i class="fa fa-times"></i>Refuser </a>
                  </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="gap gap-small"></div>
    </div>
      </div>
      <div ng-if="announce.status == 'negotiation terminer'">
      <div ng-controller="OffreListController">
      <div class="col-md-12" ng-repeat="o in Offres |filter:announce.offer">
      <h3>le propriétaire de cette annonce : {{ announce.user[0].name }} a finalisé la négociation avec {{o.user[0].name}} vous trouverez l'offre ci-dessous :</h3>
      <div class="gap gap-mini"></div>
        <div class="row row-wrap">
            <div class="product-thumb">
              <header class="product-header">
                <img src="../../assets/img/800x600.png" alt="Image Alternative text" title="the best mode of transport here in maldives" />
              </header>
              <div class="product-inner">
                <h5 class="product-title">{{o.marque}}</h5>
                <p class="product-desciption">{{o.description}}</p>
                <div class="product-meta">
                  <ul class="product-price-list">
                    <li><span class="product-price">{{o.prix}}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="gap gap-small"></div>
      </div>
      </div>
  </div>

  <!-- //////////////////////////////////
  //////////////END PAGE CONTENT/////////
  ////////////////////////////////////-->


    <script>(function(){

      var box = PUBNUB.$('box'), input = PUBNUB.$('input'), channel = 'chat';
      PUBNUB.subscribe({
        channel  : channel,
        callback : function(text) { box.innerHTML = (''+text).replace( /[<>]/g, '' ) + '<br>' + box.innerHTML }
      });
      PUBNUB.bind( 'keyup', input, function(e) {
        (e.keyCode || e.charCode) === 13 && PUBNUB.publish({
          channel : channel, message : input.value, x : (input.value='')
        })
      } )
    })()</script>
</div>

</div>


