
<!-- SEARCH AREA -->

<form class="search-area form-group" >
  <div class="container">
    <div class="row">
      <div class="col-md-8 clearfix">
        <label><i class="fa fa-search"></i>
        </label>
        <div class="search-area-division search-area-division-input" >
          <input class="form-control" type="text" placeholder="Que cherchez-vous ?" ng-model="search.$" />
        </div>
      </div>
    </div>
  </div>
</form>

<!-- END SEARCH AREA -->

<div class="gap"></div>

<!-- //////////////////////////////////
//////////////PAGE CONTENT/////////////
////////////////////////////////////-->

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <aside class="sidebar-left">
          <ul class="nav nav-tabs nav-stacked nav-coupon-category">
            <li class="active"><a href="#"><i class="fa fa-female"></i>objets personnels</a>
            </li>
            <li><a ui-sref="Category({underCategory:'vetement'})">Vêtements</a>
            </li>
            <li><a ui-sref="Category({underCategory:'chaussures'})">Chaussures</a>
            </li>
            <li><a ui-sref="Category({underCategory:'montre et bijoux'})">Montres et bijoux</a>
            </li>
            <li><a ui-sref="Category({underCategory:'sac et accessoires'})">Sacs et accessoires</a>
            </li>
            <li class="active"><a href="#"><i class="fa fa-bolt"></i>beauté et santé</a>
            </li>
            <li><a ui-sref="Category({underCategory:'produits cosmetiques'})">Produit cosmetique</a>
            </li>
            <li><a ui-sref="Category({underCategory:'equipement medicale'})">Équipement medical</a>
            </li>

            <li class="active"><a href="#"><i class="fa fa-headphones"></i>Loisirs</a>
            </li>
            <li><a ui-sref="Category({underCategory:'films , livres et magazines'})">Films,Livres et Magazines</a>
            </li>
            <li><a  ui-sref="Category({underCategory:'animaux domestique'})">Animaux domestiques</a>
            </li>
            <li><a ui-sref="Category({underCategory:'instruments musiquales'})">Instruments musical</a>
            </li>
            <li class="active"><a href="#"><i class="fa fa-image"></i>Multimedia</a>
            </li>
            <li><a ui-sref="Category({underCategory:'telephonie'})">Téléphonie</a>
            </li>
            <li><a ui-sref="Category({underCategory:'informatique et accessoires'})">Informatique et Accessoires</a>
            </li>
            <li><a ui-sref="Category({underCategory:'jeux videos et console'})">Jeux vidéo et Consoles</a>
            </li>
            <li class="active"><a href="#"><i class="fa fa-home"></i>Maison</a>
            </li>
            <li><a ui-sref="Category({underCategory:'interieur'})">Intérieur</a>
            </li>
            <li><a ui-sref="Category({underCategory:'electromenager'})">Electroménager</a>
            </li>
            <li class="active"><a href="#"><i class="fa fa-plane"></i>véhicules</a>
            </li>
            <li><a ui-sref="Category({underCategory:'moto'})" >Motos</a>
            </li>
            <li><a ui-sref="Category({underCategory:'velo'})">Vélos</a>
            </li>
            <li><a ui-sref="Category({underCategory:'piece de rechange et accessoires'})">Pièces de rechange et accessoires</a>
            </li>
            <li><a ui-sref="Category({underCategory:'voiture'})">Voitures</a>
            </li>
            <li class="active"><a href="#"><i class="fa fa-shopping-cart"></i>Autres</a>
            </li>
            <li><a ui-sref="Category({underCategory:'autres'})">Autres Produits</a>
            </li>
          </ul>
        </aside>

        <div class="gap"></div>
        <div class="gap"></div>
        <div class="gap"></div>
        <div class="gap"></div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-3">
            <div class="product-sort">

            </div>
          </div>
          <div class="col-md-2 col-md-offset-7">
            <div class="product-view pull-right">
              <a class="fa fa-th-large active" ui-sref="Vertical"></a>
              <a class="fa fa-list " ui-sref="Horizontal"></a>
            </div>
          </div>

        </div>

        <div class="row row-wrap">
          <div ng-controller="CategShowController">
            <div ng-repeat="announce in Annonces | filter:search">
              <div class="col-md-4">
                <div class="product-thumb">
                  <header class="product-header">
                    <img style="width: 263px; height: 195px" src="assets/images/{{announce.category}}" alt="Image Alternative text" />
                  </header>
                  <div class="product-inner">
                    <h5 class="product-title">{{announce.title}}</h5>
                    <p class="product-desciption">{{announce.description}}</p>
                    <div class="product-meta">
                      <ul class="product-price-list">
                        <li><span class="product-price">{{announce.price}} DT</span>
                        </li>
                      </ul>
                      <ul class="product-actions-list">
                        <li><a class="btn btn-black btn-lg btn-ghost" ui-sref="viewAnnounce({id:announce._id})"><i class="fa fa-chevron-right"></i>Détails</a> </li>


                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="gap"></div>
      </div>


    </div>
  </div>

